* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh !important;
    overflow: hidden;
    position: relative;
    background-color: black;
}

#canvas {
    width: 100% !important;
    height: 100% !important;
    z-index: -1;
}

a {
    color: white;
    text-decoration: none;
    position: fixed;
    bottom: 30px;
    left: 30px;
    font-size: 22px;
    letter-spacing: 2px;
    z-index: 10;
}